/*
* Theme: Nash - Responsive HTML5/CSS3 One-Page Theme
* Author: GuuThemes
* Author URL: www.guuhuu.com
* Version: 1.1
*/

/* Table of Contents
==================================================
	
1 - Reset & Basics
2 - Responsive 960 Grid
3 - Body (Global Styles)
4 - Page Styles
5 - Media Queries

/* 1 - Reset & Basics (Inspired by E. Meyers)
================================================== */
	
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block; 
}

body {
	line-height: 1; 
}

ol, 
ul {
	list-style: none; 
}

blockquote, 
q {
	quotes: none; 
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none; 
}

cite {
	text-align: right;
	margin-top: 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}
	
::-moz-selection {
	background: #e47c14;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #e47c14;
	color: #fff;
	text-shadow: none
}

/* Typography
--------------------------------------------------*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #333;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts for headings, and for certain portions of body text. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-weight: normal;
	text-transform: uppercase; 
}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	font-weight: inherit; 
}

h1 { 
	font-size: 60px; 
	line-height: 75px; 
	margin-bottom: 20px;
	letter-spacing: 1px;
	border-bottom: medium double #ddd;
	padding-bottom: 20px;
}

h2 { 
	font-size: 25px; 
	line-height: 40px; 
	margin-bottom: 10px; 
}

h3 { 
	font-size: 23px; 
	line-height: 34px; 
	margin-bottom: 8px; 
}

h4 { 
	font-size: 21px; 
	line-height: 30px; 
	margin-bottom: 4px; 
}

h5 { 
	font-size: 17px; 
	line-height: 24px; 
}

h6 { 
	font-size: 14px; 
	line-height: 21px; 
}

p { 
	margin: 0 0 20px 0; 
}

p img { 
	margin: 0; 
}

em { 
	font-style: italic;
}

strong { 
	font-weight: bold; 
	color: #333; 
}

small { 
	font-size: 80%; 
}

blockquote, 
blockquote p { 
	font-size: 17px; 
	line-height: 24px; 
	color: #777; 
	font-style: italic; 
}

blockquote { 
	margin: 0 0 20px; 
	padding: 9px 20px 0 19px; 
	border-left: 3px solid #e15154; 
}

blockquote cite { 
	display: block; 
	font-size: 12px; 
	color: #555; 
}

blockquote cite:before { 
	content: "\2014 \0020"; 
}

blockquote cite a, 
blockquote cite a:visited, 
blockquote cite a:visited { 
	color: #555; 
}

#footer-global h1 {
	border-bottom: medium double #666;
	color: #fff;
	padding-bottom: 20px;
}

.icon-3x {
  font-size: 3em !important;
  text-decoration:none !important;
  position:relative !important;
  top:0px !important; 
}
#uber-statement {
	background-color: #e47c14;
	background-color: rgba(228, 124, 20, .7);
	font-size: 50px;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 1.2;
	padding: 20px 0;
	margin-top: -2px;
    margin-bottom:200px;
}

.logos h2 {
	color: #fff;
}

/* Links
--------------------------------------------------*/
	
a, 
a:visited { 
	color: #e47c14; 
	text-decoration: underline; 
	outline: 0;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s; 
}

a:hover, 
a:focus { 
	color: #999; 
}

p a, 
p a:visited { 
	line-height: inherit; 
}

/* Buttons
--------------------------------------------------*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	position: relative;
	background-color: #e47c14;
	color: #fff!important;
	display: inline-block;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts for headings, and for certain portions of body text. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 5px;
	padding: 5px 10px;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px; 
	border-radius: 1px;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;  
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background-color: #333; 
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	background-color: #333; 
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; 
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Forms
--------------------------------------------------*/

form {
	margin-bottom: 20px; 
}

fieldset {
	margin-bottom: 20px; 
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	font: 12px sans-serif;
	color: #fff;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 22px;
	background: #fff; 
}

select {
	padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px rgba(0, 0, 0, .2); 
}

textarea {
	min-height: 60px; 
}

label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}

select {
	width: 200px;
}

input[type="checkbox"] {
	display: inline; 
}

label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}

/* 2 - Responsive 960 Grid (Inspired by Skeleton Framework - www.getskeleton.com)
================================================== */

/* Base 960 Grid
--------------------------------------------------*/

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.container .column,
.container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.row { 
	margin-bottom: 20px; 
}

/* Nested Column Classes */

.column.alpha,
.columns.alpha { 
	margin-left: 0; 
}

.column.omega,
.columns.omega { 
	margin-right: 0; 
}

/* Base Grid */

.container .one.column,
.container .one.columns { 
	width: 40px; }

.container .two.columns { 
	width: 100px; 
}

.container .three.columns { 
	width: 160px; 
}

.container .four.columns { 
	width: 220px; 
}

.container .five.columns { 
	width: 280px; 
}

.container .six.columns { 
	width: 340px; 
}

.container .seven.columns { 
	width: 400px; 
}

.container .eight.columns { 
	width: 460px; 
}

.container .nine.columns { 
	width: 520px; 
}

.container .ten.columns { 
	width: 580px; 
}

.container .eleven.columns { 
	width: 640px; 
}

.container .twelve.columns { 
	width: 700px; 
}

.container .thirteen.columns { 
	width: 760px; 
}

.container .fourteen.columns { 
	width: 820px; 
}

.container .fifteen.columns { 
	width: 880px; 
}

.container .sixteen.columns { 
	width: 940px; 
}

.container .one-third.column { 
	width: 300px; 
}

.container .two-thirds.column { 
	width: 620px; 
}

/* Offsets */

.container .offset-by-one { 
	padding-left: 60px; 
}

.container .offset-by-two { 
	padding-left: 120px; 
}

.container .offset-by-three { 
	padding-left: 180px; 
}

.container .offset-by-four { 
	padding-left: 240px; 
}

.container .offset-by-five { 
	padding-left: 300px; 
}

.container .offset-by-six { 
	padding-left: 360px; 
}

.container .offset-by-seven { 
	padding-left: 420px; 
}

.container .offset-by-eight { 
	padding-left: 480px; 
}

.container .offset-by-nine { 
	padding-left: 540px; 
}

.container .offset-by-ten { 
	padding-left: 600px; 
}

.container .offset-by-eleven { 
	padding-left: 660px; 
}

.container .offset-by-twelve { 
	padding-left: 720px; 
}

.container .offset-by-thirteen { 
	padding-left: 780px; 
}

.container .offset-by-fourteen { 
	padding-left: 840px; 
}

.container .offset-by-fifteen {
	padding-left: 900px; 
}

/* Tablet (Portrait)
--------------------------------------------------*/

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .container { 
    	width: 768px 
    }
    
    .container .column,
    .container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .column.alpha,
    .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }
    
    .column.omega,
    .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }
    
    .alpha.omega {
        margin-left: 0;
        margin-right: 0;
    }
    
    .container .one.column,
    .container .one.columns { 
    	width: 28px; 
    }
    
    .container .two.columns { 
    	width: 76px; 
    }
    
    .container .three.columns { 
    	width: 124px;
    }
    
    .container .four.columns { 
    	width: 172px; 
    }
    
    .container .five.columns { 
    	width: 220px;
    }
    
    .container .six.columns { 
    	width: 268px; 
    }
    
    .container .seven.columns { 
    	width: 316px; 
    }
    
    .container .eight.columns { 
    	width: 364px; 
    }
    
    .container .nine.columns { 
    	width: 412px; 
    }
    
    .container .ten.columns { 
    	width: 460px; 
    }
    
    .container .eleven.columns { 
    	width: 508px; 
    }
    
    .container .twelve.columns { 
    	width: 556px; 
    }
    
    .container .thirteen.columns { 
    	width: 604px; 
    }
    
    .container .fourteen.columns { 
    	width: 652px; 
    }
    
    .container .fifteen.columns { 
    	width: 700px; 
    }
    
    .container .sixteen.columns { 
    	width: 748px; 
    }
    
    .container .one-third.column { 
    	width: 236px; 
    }
    
    .container .two-thirds.column { 
    	width: 492px; 
    }
    
    /* Offsets */
    
    .container .offset-by-one { 
    	padding-left: 48px; 
    }
    
    .container .offset-by-two { 
    	padding-left: 96px; 
    }
    
    .container .offset-by-three { 
    	padding-left: 144px; 
    }
    
    .container .offset-by-four { 
    	padding-left: 192px; 
    }
    
    .container .offset-by-five { 
    	padding-left: 240px; 
    }
    
    .container .offset-by-six { 
    	padding-left: 288px; 
    }
    
    .container .offset-by-seven { 
    	padding-left: 336px; 
    }
    
    .container .offset-by-eight { 
    	padding-left: 384px; 
    }
    
    .container .offset-by-nine { 
    	padding-left: 432px; 
    }
    
    .container .offset-by-ten { 
    	padding-left: 480px; 
    }
    
    .container .offset-by-eleven { 
    	padding-left: 528px; 
    }
    
    .container .offset-by-twelve { 
    	padding-left: 576px; 
    }
    
    .container .offset-by-thirteen { 
    	padding-left: 624px; 
    }
    
    .container .offset-by-fourteen { 
    	padding-left: 672px; 
    }
    
    .container .offset-by-fifteen { 
    	padding-left: 720px; 
    }

}

/* Mobile (Portrait)
--------------------------------------------------*/

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    
    .container { 
    	width: 260px; 
    }
    
    .container .columns,
    .container .column { 
   		margin: 0; 
   	}

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column  { 
    	width: 260px; 
    }

    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen { 
    	padding-left: 0;
    }

}

/* Mobile (Landscape)
--------------------------------------------------*/

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .container { 
    	width: 300px; 
    }
    
    .container .columns,
    .container .column { 
    	margin: 0; 
    }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { 
    	width: 300px; 
    }

}

/* Clearing (Clearfix)
--------------------------------------------------*/

/* Self Clearing Goodness */

.container:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  	content: '\0020';
  	display: block;
  	overflow: hidden;
  	visibility: hidden;
  	width: 0;
  	height: 0; 
}

.row:after,
.clearfix:after {
  	clear: both; 
}

.row,
.clearfix {
  	zoom: 1; 
}

/* You can also use a <br class="clear" /> to clear columns */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* 3 - Body (Global Styles)
================================================== */

body {
	font: 24px/36px 'Cabin', sans-serif;
	color: #444;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

body:before {
	content: ""; 
	position: fixed; 
	top: -10px; 
	left: 0; 
	width: 100%;
	height: 10px; 
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .8); 
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .8); 
	box-shadow: 0 0 20px rgba(0, 0, 0, .8); 
	z-index: 1000;
}

/* 4 - Page Styles
================================================== */

/* Header (Global Header)
--------------------------------------------------*/

#header-global[role="banner"] {
	background-color: #fff;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding-bottom: 100px;
	text-transform: uppercase;
	z-index: 1000;
}

#header-global[role="banner"] .row {
	margin-bottom: 0;
}

#header-global[role="banner"].background {
	background-color: rgba(255, 255, 255, .9);
}

.header-logo,
.icons {
	margin-top: 100px;
}

.header-background-image {
	background: url(../img/header_background_placeholder.jpg) top center no-repeat;
	width: 100%;
	height: 900px;	
	margin: 0 auto;
	position: absolute;
	background-size: cover!important;
	-webkit-background-size: cover!important;
}

.logo-icons.container {
	margin-bottom: 45px;
}

/* Footer (Global Footer)
--------------------------------------------------*/

#footer-global[role="contentinfo"] {
	color: #fff;
	width: 100%;
	background: #333 url(../img/classy_fabric.png) repeat;
	text-align: center;
}

#footer-global[role="contentinfo"] #copyright-details {
	margin-top: 20px;
}

#footer-global[role="contentinfo"] h3 {
	border-bottom: 1px dotted #666;
	color: #fff;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#footer-global[role="contentinfo"] a {
	text-decoration: none;
}

#footer-global[role="contentinfo"] a:hover {
	color: #ddd;
}

/* Section (Introduction)
--------------------------------------------------*/

#introduction {
	background-color: #fff;
	text-align: center;
	padding: 70px 0;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
	z-index: 300;
	position: relative;
}

/* Section (my-skills)
--------------------------------------------------*/

#my-skills {
	text-align: center;
	padding: 70px 0;
	position: relative;
	z-index: 300;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
}

#my-skills h2 {
	border-bottom: medium double #ddd;
	display: block;
	padding-bottom: 20px;
	line-height: 1.4;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

#my-skills .service {
	background-color: #f6f3f3;
	padding: 40px 20px 20px 20px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: medium double #ddd;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

#my-skills .service:hover {
	background-color: rgba(255, 255, 255, .9);
	-moz-box-shadow: 1px 1px 4px 1px #ccc;
	-webkit-box-shadow: 1px 1px 4px 1px #ccc;
	box-shadow: 1px 1px 4px 1px #ccc;
}

#my-skills .service.clearcol {
	clear: both;
	margin-right: 10px!important;
}

#my-skills .service [class^="icon-"] {
	color: #e47c14;
	font-size: 90px;
	text-shadow: 0 1px 1px #fff;
}

#all-services {
	margin-top: 40px;
}

/* Section (Meet the Team)
--------------------------------------------------*/

#my-resume {
	text-align: center;
	padding: 70px 0;
	position: relative;
	z-index: 300;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
}

#my-resume .team-member {
	background-color: #f6f3f3;
	color: #666;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	padding: 20px 20px 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: medium double #ddd;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

#my-resume .team-member:hover {
	background-color: rgba(255, 255, 255, .9);
	-moz-box-shadow: 1px 1px 4px 1px #ccc;
	-webkit-box-shadow: 1px 1px 4px 1px #ccc;
	box-shadow: 1px 1px 4px 1px #ccc;
}

#my-resume .team-member em {
	border-bottom: medium double #ddd;
	display: block;
	padding-bottom: 20px;
}

#my-resume .thumbnail {
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#my-resume img {
	max-width: 100%;
	height: auto;
	display: block;
}

#my-resume .social-icons-small a [class^="icon-"] {
	color: #e47c14;
	padding-right: 10px;
	text-decoration: none;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

#my-resume .social-icons-small a:hover [class^="icon-"] {
	color: #333;
}

#resume {
	margin-top: 40px;
}

/* Main Navigation 
--------------------------------------------------*/

#header-navigation[role="navigation"] {
	background-color: #333;
	font-size: 18px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	z-index: 1000;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

#header-navigation[role="navigation"] ul {
	display: inline-block;
	margin-bottom: 0;
}

#header-navigation[role="navigation"] li {
	float: left;
	margin-bottom: 0;
	padding: 5px 0;
	position: relative;
}

#header-navigation[role="navigation"] li a,
#header-navigation[role="navigation"] li a:visited {
	color: #fff;
	margin-right: 20px;
	padding: 2px 5px;
	text-decoration: none;
	zoom: 1;
}

#header-navigation[role="navigation"] li a:hover,
#header-navigation[role="navigation"] li a:focus {
	color: #e47c14;
}

#header-navigation.is-sticky {
	background-color: #333;
	margin-top: 0;
	padding-top: 10px;
}

#header-navigation.is-sticky[role="navigation"] li a {
	color: #fff;
}

#header-navigation.is-sticky[role="navigation"] li a:hover,
#header-navigation.is-sticky[role="navigation"] li a:focus {
	color: #e47c14;
}

nav select {
	display: none;
}

/* Latest Work (Homepage/Portfolio Pages)
--------------------------------------------------*/

#latest-work {
	background: #fff;
	padding: 70px 0;
	text-align: center;
	position: relative;
	z-index: 300;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, .9);
}

#portfolio-items {
	margin-top: 40px;
}

/* Filter Navigation */

#portfolio-filter {
	text-align: center;
}

#filter {
	background-color: #333;
	display: inline-block;
	margin-top: 20px;
}

#filter li {
	float: left;
	font-size: 14px;
	margin-bottom: 0;
	padding: 10px 15px;
}

#filter li a {
	color: #fff;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	text-decoration: none;
	text-transform: uppercase;
}

#filter li a:hover,
#filter li .current {
	color: #e47c14;
}

/* Portfolio Items */

.project-item {
	margin-bottom: 30px;
}
    
.project-item:hover {}

.project-item .project-image {
	list-style: none;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    border: medium double #ccc;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;	
}

.project-item .project-image:hover {
	background-color: rgba(255, 255, 255, .9);
	-moz-box-shadow: 1px 1px 4px 1px #ccc;
	-webkit-box-shadow: 1px 1px 4px 1px #ccc;
	box-shadow: 1px 1px 4px 1px #ccc;
}

.project-item .project-details {
	font-size: 14px;
	line-height: 24px;
}

.project-item .project-details h2 {
	border-bottom: medium double #ddd;
	display: block;
	margin-bottom: 13px;
	padding-bottom: 10px;
    font-size:15px;
}

/* Portfolio/Project Items Overlay */
    
.project-image .overlay {
    background: #fff;
    background-color: #e47c14;
    background-color: rgba(228, 124, 20, .7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding: 10px;
	text-align: center;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border: 15px solid rgba(255, 255, 255, 0);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.project-image:hover .overlay {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.project-image .overlay .modal-link {
	cursor: pointer;
}

.project-image .overlay .button {
	background-color: #333;
}

.project-image .overlay .button:hover {
	background-color: #666;
}

.project-image .overlay [class^="icon-"] {
	color: #fff;
	display: inline-block;
	font-size: 80px;
}

.project-item .overlay h2 {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0 20px;
	line-height: 1.3;
}

.project-item .overlay h2 a {
	color: #333;
}

.project-item .overlay h2 a:hover {
	color:#e15154;
}

.project-item .overlay a {
	color: #fff;
	text-decoration: none;
}

.project-item img {
	display: block;
	position: relative;
	max-width: 100%;
}

.video-frame {
	max-width: 100%;
	display: block;
}

/* Isotope (Portfolio Filtering)
--------------------------------------------------*/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:         top, left, opacity;
            transition-property:         transform, opacity;
}

/* Social Media Icons (Header) */

.social-icons {
	display: none;
	margin-top: 20px;
}

.social-icons li {
	background-color: #333;
	border-radius: 1px;
	float: left;
	line-height: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.social-icons li:hover {
	background-color: #e47c14;
}

/* Social Media Icons (Footer) */

.social-icons.footer {
	display: none;
	margin-top: 10px;
}

.social-icons.footer li {
	background-color: #e47c14;
	border-radius: 1px;
	float: left;
	line-height: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.social-icons.footer li:hover {
	background-color: #666;
}

/* Icon Holders */

.icon-holder {
	width: 70px;
	height: 70px; 
	background: none;
	margin-bottom: 30px;
	padding: 5px;
	text-align: center;
}

.icon-holder.intro {
	width: 70px;
	height: 70px; 
	border-radius: 50%;
	display: inline-block;
	border: 7px solid #333;
}

.icon-holder.work {
	width: 70px;
	height: 70px; 
	border-radius: 50%;
	display: inline-block;
	border: 7px solid #333;
}

.icon-holder.my-skills {
	width: 70px;
	height: 70px; 
	border-radius: 50%;
	display: inline-block;
	border: 7px solid #333;
}

.icon-holder.team {
	width: 70px;
	height: 70px; 
	border-radius: 50%;
	display: inline-block;
	border: 7px solid #333;
}

.icon-holder.contact {
	width: 70px;
	height: 70px; 
	border-radius: 50%;
	display: inline-block;
	border: 7px solid #fff;
}

.icon-holder [class^="icon-"] {
	font-size: 2.1em;
	line-height: 70px;
}

/* Contact
--------------------------------------------------*/

#contact {
	padding: 70px 0;
	text-align: center;
	position: relative;
	z-index: 300;
}

/* Contact Details */

#contact-details {
	font-size: 30px;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts for headings, and for certain portions of body text. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-weight: normal;
	line-height: 50px;
	text-transform: uppercase;
}

#copyright-details {
	font-size: 11px;
	line-height: 18px;
	background: none;
	border: 1px solid #fff;
	display: inline-block;
	padding: 8px;
}

/* Quotes/Testimonials
--------------------------------------------------*/

#latest-quotes {
	text-align: center;
	color: #fff;
}

#latest-quotes #quotes {
	height: 150px; 
	height: auto!important;
	min-height: 150px;
}

#latest-quotes blockquote {
	border: none;
	color: #FF7F24  !important;
	font-size: 28px;
	line-height: 38px;
	margin-top: 15px;
}

#latest-quotes cite {
	background: none;
	border: 2px solid #FF7F24;
	color: #FF7F24  !important;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-size: 18px;
	margin-top: 5px;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
}

#latest-quotes blockquote span {
	color: #999;
}

/* Latest Tweet
--------------------------------------------------*/

.tweet {
	color: #fff;
	font-size: 28px;
	line-height: 38px;
	font-style: italic;
}

.twtr-hyperlink {}

.time {
	background: none;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-size: 18px;
	font-style: normal;
	margin-top: 30px;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
}

.ie8 .time {
	display: none;
}

/* Client Logos
--------------------------------------------------*/

.logos {
	text-align: center;
	padding: 0;
}

#client-logos {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 10px 0;
}

#client-logos li {
	float: left;
	padding: 10px 20px;
}

/* Section Dividers
--------------------------------------------------*/

#section-divider-1, 
#section-divider-2, 
#section-divider-3 {
	width: 100%;
	height: 500px;
	background-color: #1c1f26;
	position: relative;
	text-align: center;
}

#section-divider-1 .text-container,
#section-divider-2 .text-container,
#section-divider-3 .text-container {
	height: 500px;
	width: 960px;
}

#section-divider-1 .text-container [class^="icon-"],
#section-divider-2 .text-container [class^="icon-"],
#section-divider-3 .text-container [class^="icon-"] {
	color: #fff;
}

.text-container {
	display: table-cell;
	vertical-align: middle;
}

/* Background One */

.bg1 {
	background: url(../img/ny.png) top center no-repeat;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	background-size: 120%;
	background-size: cover!important;
	-webkit-background-size: cover!important;
}

/* Background Two */

.bg2 {
	background: url(../img/london.png) top center no-repeat;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	background-size: 120%;
	background-size: cover!important;
	-webkit-background-size: cover!important;
}

/* Background Three */

.bg3 {
	background: url(../img/vacation.png) top center no-repeat;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	position: absolute;
	background-size: 120%;
	background-size: cover!important;
	-webkit-background-size: cover!important;
}

/* Skill Bars */

.skill-bars {
	width: 95%;
	position: relative;
	float: left;
	line-height: 2em;
	margin-top: 40px;
	margin-left: 10px;
	padding: 0;
	text-align: left;
}

.col { 
	width: 95%; 
}

#skill { 
	color: #333;
	list-style: none; 
	padding-top: 30px;
}

#skill li { 
	margin-bottom: 60px;
	background: #eee; 
	height: 40px;
}

#skill li.last {
	margin-bottom: 0;
}

#skill li em { 
	position: relative; 
	top: -45px;
	font-family: 'Oswald', sans-serif; /* This theme uses Google Web Fonts. To change this font, go to http://www.google.com/webfonts/ and follow the instructions there. */
	font-style: normal;
	text-transform: uppercase;
}

.expand { 
	height: 40px; 
	margin: 0; 
	background: #e47c14; 
	position: absolute;
}

.sites 			{ width: 70%;  -moz-animation: sites 2s ease-out;	-webkit-animation: sites 2s ease-out; }
.clients  		{ width: 90%;  -moz-animation: clients 2s ease-out;    -webkit-animation: clients 2s ease-out; }
.complaining	{ width: 30%;  -moz-animation: complaining 2s ease-out;  -webkit-animation: complaining 2s ease-out; }
.coffee 		{ width: 80%;  -moz-animation: coffee 2s ease-out;  -webkit-animation: coffee 2s ease-out; }

@-moz-keyframes sites    	{ 0%  { width: 0px;} 100%{ width: 70%;}  }
@-moz-keyframes clients     { 0%  { width: 0px;} 100%{ width: 90%;}  }
@-moz-keyframes complaining { 0%  { width: 0px;} 100%{ width: 30%;}  }
@-moz-keyframes coffee   	{ 0%  { width: 0px;} 100%{ width: 80%;}  }

@-webkit-keyframes sites    	{ 0%  { width: 0px;} 100%{ width: 70%;}  }
@-webkit-keyframes clients     	{ 0%  { width: 0px;} 100%{ width: 90%;}  }
@-webkit-keyframes complaining  { 0%  { width: 0px;} 100%{ width: 30%;}  }
@-webkit-keyframes coffee   	{ 0%  { width: 0px;} 100%{ width: 80%;}  }


/* 5 - Media Queries
================================================== */

/* Slight fix for IOS devices */
@media only screen and (min-width: 1100px) {
	
	.header-background-image, 
	.bg1, 
	.bg2, 
	.bg3 {
		background-attachment: fixed!important;
	}

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 960px) {

	#header-navigation[role="navigation"] ul#navigation {
		display: none;
	}
	
	nav select { 
		display: inline-block;
		position: relative;
		color: #000;
	}
	
	#uber-statement {
		font-size: 40px;
		line-height: 1.2;
	}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1280px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px) {

	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	#header-global {
		text-align: center;
	}
	
	#logo {
		margin-top: 30px;
	}
		
	#introduction p {
		font-size: 17px;
		line-height: 1.7;
	}
	
	#uber-statement {
		font-size: 30px;
		line-height: 1.2;
		margin-top: 110px;
	}
	
	.header-background-image {
		height: 800px;
	}
	
	.logos h2 {
		display: none;
	}
	
	#client-logos {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	#client-logos li {
		float: none;
		margin-bottom: 20px;
	}
	
	#portfolio-filter li {
		float: left;
		font-size: 12px;
		line-height: .7;
		padding: 10px 0 10px 10px;
	}
	
	.skill-bars {
		margin-left: 10px;
	}
	
	#skill li em {
		font-size: 14px;
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

/* Mobile Portrait Size Only (devices and browsers) */
@media only screen and (max-width: 320px) {}