@import url('reset.css');

a{
	color:#f0f0f0;
	text-decoration:none;
}
.clr{
	clear:both;
}
.container {
	width:100%;
	margin:0 auto;
}
.header{
	padding-top:10px;
}
.more ul{
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	padding:20px 0px 30px 20px;
	height:30px;
}
.more ul li{
	float:left;
	margin:0px 1px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px 5px 5px 5px;
}
.more ul li a{
	text-shadow:1px 1px 1px #000;
	color:#e3cbfe;
	padding:3px 6px;
}
.more ul li a:hover{
	color:#bda2dc;
}
h1{
	margin:0 0 13px 0;
	float:left;
	clear:both;
	font-size:34px;
	padding:12px;
	text-shadow:0px 0px 1px #000;
	color:#f8f8f8;
	font-family:'News Cycle', Georgia, serif;
}
h1 span{
	color:#e3cbfe;
	text-align:right;
	font-size:25px;
	padding:0 10px;
}
h2{
	float:right;
	color:#bda2dc;
	padding:30px 20px 0 0;
}
.content{
	width:100%;
	position:relative;
	margin:20px 0 0 0;
	clear:both;
}
/* Footer Style */
.topbar{
	position:relative;
	width:100%;
	height:25px;
	line-height:24px;
	bottom:0;
	font-size:13px;
	background:#000;
	opacity:0.7;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	z-index:4;
}
.topbar a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.topbar a:hover{
	color:#fff;
}
.topbar a span{
	font-weight:bold;
}
.topbar span.right_ab{
	position:absolute;
	right:4px;
}
